$bg-light: #F4F4F4
$bg-dark: #2B55A2
$highlight-dark: #469CD5
$highlight-light: #6CAFDC
$text: #717171

body
  background-color: $bg-light
  color: $text


header
  width: 100%
  height: 75px
  background-color: $bg-dark